:root{

    --color-brand-0:  #232B2B;
    --color-brand-1: #0d8880;
    --color-brand-2:#e1e1e1;
    --color-brand-3:#ffffff;
    --color-brand-4: #f37725;
    --font-size-1: 28px; 
    font-family:  'Helvetica Neue', sans-serif;


}